body {
    background-image: url("../img/img.jpg");
    color: black;
    margin: 0 auto;
    text-align: center;
}

#part1{
    color: white;
    -webkit-text-stroke: 1px black;
    border: 1px solid white;
    background-color: rgb(13, 14, 115,0.5);
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
h1{
    font-size: 50px;
}
#hiLo{
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 40px;
}

#part2{
    margin: auto;
}

h2 {
    margin: 0;
    color: black;
    background-color: white;
    font-size: 25px;
}

h3 {
    margin: 0;
    color: black;
    background-color: white;
    font-size: 20px;
}

h4 {
    margin: 0;
    color: black;
    background-color: white;
    font-size: 20px;
}

h5 {
    margin: 0;
    color: black;
    background-color: white;
    font-size: 20px;
}
#playBtn{
    display: block;
    margin: 10px auto;
}

